*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing:border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-touch-callout:none;
  user-select:none;
}

html{
  width:100%;
  height:100%;
  overflow:hidden;
  overscroll-behavior:none;
}

body{
  min-height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background:var(--background-color);
  padding:20px;
  overflow:hidden;
  touch-action:none;
  overscroll-behavior:none;
}
